/*
* {
    border: 2px solid orange;
}
*/
h1 {
    text-align: center;
    font-size: 45px;
}

div {
    padding-top: 5%;
    text-align: center;
    background-color: #EFEFEF;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 40%;
    width: 100%;
    height: 70%;
    background-color: #EFEFEF;
}

td.c1 {
    width: 31%;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

td.c2 {
    width: 7%;
    text-align: right;
    background-color: #AEAFFF;
    border: outset 1px white;
}

td.c3 {
    width: 62%;
    text-align: center;
}

button.b1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #1919C8;
    color: white;
    border: outset 1px white;
}

button.b2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #ADC0BE;
    color: #1919C8;
    border: outset 1px white;
}